APCA_API_KEY_ID=replace_me
APCA_API_SECRET_KEY=replace_me

# Choose telegram or pushover.
NOTIFY_CHANNEL=telegram
TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_CHAT_ID=replace_me

# NOTIFY_CHANNEL=pushover
# PUSHOVER_APP_TOKEN=replace_me
# PUSHOVER_USER_KEY=replace_me
